* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    background-color: #265C4B;
    color: aliceblue;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-bottom: 5px solid #8FC1B5;
}
/* Formatação - Logo ADS*/
#img-ads{
    width: 55px;
    height: 55px;
}

/* Formatação do Site*/
.container {
    background-color: aliceblue;
    min-height: 70vh;
    padding: 50px;
}

.info-container {
    max-width: 1200px;
    margin: 0 auto;
}
/* Formatação do Card*/
.card {
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;

}
/* Formatação dos Tópicos*/
.info-image{
    text-align: center;
    padding-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 250px;
    width: 100%;
    margin-bottom: 10%;
    color: aliceblue;
    font-weight: bold;
    background-color: #146551;
    border-radius: 5px;
    
}
/*Botões*/
.btn{
   text-decoration: none; 
   display: block;
   text-align: center;
   width: 100%;
   text-transform: uppercase;
   background-color: #146551;
   color: aliceblue;
   padding: 15px;
   border-radius: 5px;
   transition: .5s;
   font-weight: bold;
}
/*Botões Transição*/
.btn:hover{
    background-color: #007566;
}

/* Footer */
footer {
    background-color: #265C4B;
    color: aliceblue;
    border-top: 3px solid #8FC1B5;
    text-align: center;
    padding: 80px;
}
/* Formatação das Abas Secundárias*/
.container-text {
    background-color: aliceblue;
    min-height: 73vh;
    padding: 50px;
}

.info-container-text {
    max-width: 1200px;
    margin: 0 auto;
}
/* Formatação dos Textos das Abas Secundárias*/    
.info-text{
    text-align: justify;
    padding-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
    color: aliceblue;
    font-weight: bold;
    background-color: #146551;
    border-radius: 5px;
    padding: 15px;
 }
 

